<div class="card" *ngFor="let pokemon of pokemons">
  <img class="card-img-top"
       src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
       alt="Card image cap">
  <app-favorite [pokemon]="pokemon" [right]="15" (removedFavorite)="removedFavorite.emit($event)"></app-favorite>
  <div class="card-body">
    <h5 class="card-title capitalize-title">{{ pokemon.name }}</h5>
    <button type="button" class="btn btn-light text-center" (click)="viewMore(pokemon)">Saber mais</button>
  </div>
</div>
