<div class="card" *ngFor="let pokemon of pokemons">
  <img class="card-img-top w-50 h-50 m-auto text-center"
       src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
       [alt]="pokemon.name">
  <app-favorite
    [pokemon]="pokemon"
    [marginRight]="true"
    (removedFavorite)="removedFavorite.emit($event)">
  </app-favorite>
  <div class="card-body">
    <h5 class="card-title capitalize-title">{{ pokemon.name }}</h5>
    <button type="button" class="btn btn-light text-center" (click)="viewMore(pokemon)">Saber mais</button>
  </div>
</div>
