<div *ngIf="!isLoading">
  <div class="row row-gap-20" *ngIf="pokemons.length">
    <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let pokemon of pokemons">
      <app-pokemon-card
        [pokemon]="pokemon"
        (removedFavorite)="removeFavorite($event)">
      </app-pokemon-card>
    </div>
  </div>

  <div class="full-page-content" *ngIf="!pokemons.length">
    <div class="full-page-title">
      <h3 class="text-center">
        Nenhum Pokemon favoritado, volte para a listagem ou acesso o perfil de algum Pokemon para favorita-lo.
      </h3>
    </div>
    <img class="centralized" src="/assets/empty.gif" alt="empty">
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
