<div class="container-lg" *ngIf="!isLoading">
  <div class="row" *ngIf="pokemon">
    <div class="col-sm w-100">
      <img class="card-img-top w-75 m-auto text-center"
           [src]="pokemon.sprite"
           [alt]="pokemon.name">
    </div>
    <div class="col-sm">
      <h2 class="capitalize-title">{{ pokemon.name }}</h2>
      <app-favorite [pokemon]="pokemon"></app-favorite>
      <hr>
      <h6>Espécie: {{ pokemon.species.name }}</h6>
      <h6>Altura: {{ (pokemon.height * 10) }}cm</h6>
      <h6>Peso: {{ (pokemon.weight * 0.1) }}Kg</h6>
      <h6>Experiencia obtida ao derrota-lo: {{ pokemon.base_experience }}XP</h6>
      <hr>
      <div *ngIf="pokemon.types.length">
        <h3>Tipo</h3>
        <h6 *ngFor="let pokemonType of pokemon.types"> {{ pokemonTypeEnum[pokemonType.type.name.toUpperCase()] }}</h6>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
