/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.full-page-content {
  height: calc(100vh - 76px);
  display: grid;
}

.centralized {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.full-page-title {
  grid-row: 2;
}

.capitalize-title {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #88888880;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
